.CardImg {
    height: 85%;
    border-radius: 10px;
    margin-top: 13px;
    border: 1px solid blue;
}

.CardOnTable {
    height: 90%;
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 10px;
}

.TableCard{
    position: relative;
    /* flex-wrap: nowrap; */
    margin-left: 10px;
    height: 100%;
}

.Card {
    position: relative;
    flex-wrap: nowrap;
    width: 75px;
    height: 100%;
}

.user:hover{
    margin-top: -1%;
}

.popupImg{
    height: 350px;
    border-radius: 10px;
}

.popupCard{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
