.CardImg {
    height: 120px;
    border-radius: 10px;
    margin: 7px;
    border: 1px solid blue;
}

.CardOnTable {
    height: 140px;
    margin-top: 10px;
    
    border: 1px solid blue;
    /* margin: 7px; */
    border-radius: 10px;
}

.TableCard{
    position: relative;
    /* flex-wrap: nowrap; */
    margin-left: 10px;
    height: 100%;
}

.Card {
    position: relative;
    flex-wrap: nowrap;
    width: 75px;
    height: 100%;
}

.user:hover{
    margin-top: -10px;
}

.popupImg{
    height: 350px;
    border-radius: 10px;
}

.popupCard{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
